.App {
  text-align: left;
  color: #e586b4;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  line-height: 32px;
  margin: 20px;
  box-lines: single;
}
.Product {
  text-align: left;
  color: #e586b4;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  line-height: 32px;
  margin: 20px;
}
h1 {
  color: #ffffff;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  margin-top: 10px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}
.button-2 {
  background-color: #ff0000;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 3px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-2:hover,
.button-2:focus {
  background-color: #f45757;
}
.offset {
  background-color: #f082ac;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  color: #ffffff;
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover,
.offset:focus {
  background-color: #f9c4d8;
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.textbox {
  box-sizing: border-box;
  border: dotted 1px #e586b4;
  outline: 0;
  height: 25px;
  width: 275px;
}
.link {
  height: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
form input,
form select,
form textarea {
  display: block;
  border: dotted 1px #e586b4;
  color: rgb(255, 255, 255);
  width: 30%;
}
* {
  background-color: rgb(0, 0, 0);
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial;
}
